{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Your App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="login-signup">
            {% if request.user.is_authenticated %}
                Hello, {{ request.user.username }} | <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </header>
    

    <main>
        <div class="logo-container">
            <img src="{% static 'img/logo.png' %}" alt="Logo">
        </div>
        <a href="{% url 'run_ml_model' %}">Run ML Model</a>
        <a href="{% url 'video-list-create' %}">Videos</a>
        <a href="{% url 'translation-list-create' %}">Translations</a>
        <a href="{% url 'run-script' %}">Run Script</a>
        <a href="{% url 'run-script2' %}">Run Script 2</a>
        <a href="/users/users/">User List/Create</a>
        <a href="/users/profiles/">User Profile List/Create</a>
        <!-- add more functions as necessary -->
    </main>
</body>
</html>
